.pImg {
    margin-top: 1.2rem;
    text-align: center;
}

.pImge {
    height: 300px;
    width: 370px;
}

.name {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.cn {
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 1.2rem;
}

.msg {
    font-size: 2rem;
    font-weight: bold;
    color: #0F1D6E;
}

.pcontent {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    color: rgb(8, 8, 8);
    font-size: 1.3rem;
}