.navbarTop {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* background-color: red; */
}

.logo {
    padding: 23px;
    height: 100px;
    width: 100px;
}

.CollegeTitle {
    margin: 1.4rem;
    text-align: center;
}

.moreOpt {
    /* display: flex; */
    display: none;
}

@media screen and (min-width: 336px) and (max-width:480px) {
    .navbarTop {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .moreOpt {
        justify-content: center;
        padding: 23px;
        height: 75px;
        width: 75px;
        display: flex;
    }

    .logo {
        justify-content: center;
        padding: 23px;
        height: 100px;
        width: 100px;
    }
}