.Navbar {
  display: flex;
  flex-direction: column;
}

.navbarBottom {
  background-color: #F5F5F5;
  /* border: 2px solid gold; */
  background-color: white;
}

.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-items {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  z-index: 2;

}

.dropdown-trigger {
  cursor: pointer;
  padding: 10px;
  /* border: 1px solid red; */
}

.dropdown-content {
  border-top: 2px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  background-color: white;
}

.dropdown-trigger:hover+.dropdown-content,
.dropdown-content:hover {
  background-color: white;
  display: block;
  width: auto;
}

.dropdown-content Link {
  display: inline;
  padding: 10px;
  text-decoration: none;
  margin-top: 4%;
  color: #333;
}

.divdropdownLink {
  /* border: 2px solid black; */
  width: 100%;
  margin-top: 20px;
  /* text-align: center; */
  padding-left: 3px;
}

.divdropdownLink:hover {
  color: white;
  width: 100%;
  /* background-image: radial-gradient(red, yellow, green);
   */

  /* border-bottom: 2px solid #0170B9; */
}

.divdropdownLink:hover a {
  color: black;
}

.drpdnlink {
  width: 100%;
}

/* 
.drpdnlink {
  width: 100%;
  text-decoration: none;
  color: #0170B9;
}

.drpdnlink:hover {
  color: white;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(9, 53, 119);
  border-radius: 2px;
  text-align: center;
} */

.na {
  height: inherit;
}

.navLink {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #0170B9;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid yellow; */
}

.navdrpdn {
  color: #0170B9;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.navdrpdn:hover {
  color: black;
}

.oropt {
  margin-top: 3%;
  height: 100%;
  /* border: 2px solid red; */
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color: #0170B9;
}

.navLink:hover {
  border-bottom: 1px solid black;
  color: black;
}

.dropDownLinks {
  z-index: 2;
}

@media screen and (min-width: 0px) and (max-width: 972px) {
  .moreOpt {
    display: flex;
    justify-content: center;
    padding: 23px;
    height: 75px;
    width: 75px;
    margin-top: 1.4rem;
    margin-left: 1.3rem;
    /* padding-top: 0.5rem; */
  }

  .navbar {
    display: none;
  }

  .nav-items {
    transition-timing-function: ease;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    flex: start;
  }

  .nav-items li {
    margin-left: 14px;
    /* width: 100%; */
  }


  #home {
    margin-left: 0;
    margin-left: 14px;
  }

  .navLink {
    justify-content: right;
  }

  .oropt {
    display: none;
  }

  .navbarBottom {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .dropdown-container {
    position: relative;
    display: inline-block;

  }

  .dropdown-trigger {
    cursor: pointer;
    padding: 10px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: inline-block;
    background-color: white;
  }

  .dropdown-trigger:hover+.dropdown-content,
  .dropdown-content:hover {
    background-color: white;
    display: block;
    width: auto;

  }

  .dropdown-content Link {
    display: inline;
    padding: 10px;
    text-decoration: none;
    margin-top: 4%;
    color: #333;
  }

  .open {
    background-color: rgb(20, 52, 129);
    border-radius: 10px;
    color: white;
  }

  .drpdnlink {
    width: 100%;
    text-decoration: none;
    color: #0170B9;
    /* margin-left: 5%; */
  }

  .drpdnlink:hover {
    color: white;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(9, 53, 119);
    border-radius: 2px;
    text-align: center;
  }
}