.dropdown-container {
  position: relative;
  display: inline-block;
  border: none;
  z-index: 2;
}

.dropdown-trigger {
  cursor: pointer;
  padding: 10px;
}

/* .dropdown-trigger.open {
} */

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  border-top: 1px solid blue;
  background-color: white;
  border: 1px white;
}

.dropdown-trigger:hover+.dropdown-content,
.dropdown-content:hover {
  background-color: white;
  display: block;
  width: auto;
  /* border: 1px solid red; */
  /* border-top: 1px solid black; */
}

.dropdown-content Link {
  display: inline;
  padding: 10px;
  text-decoration: none;
  margin-top: 4%;
  color: #333;
}

.open {
  background-color: rgb(20, 52, 129);
  border-radius: 10px;
  color: white;
}