.curriculumContainer {
    margin-left: 8%;
    margin-right: 8%;
}

.lnkAr {
    height: 20px;
    width: 20px;
}

.curriculumLinks {
    font-size: 20px;
}

.cclink {
    margin-top: 5px;

}

.curriculumHeader {
    font-weight: bold;
    color: rgb(13, 13, 107)
}