.hContainer {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 23px;
}

.ici {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 45px;
    margin-top: 4%;
}

.img2 {
    height: 80px;
    width: 80px;
    margin-left: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.img3 {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}

.img4 {
    margin-top: 20px;
    height: 80px;
    width: 80px;
    margin-left: 12px;
    border-radius: 50%;
}

.hoste {
    margin-top: 3px;
}