body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center {
  align-items: center !important;
}
.logo {
  height: 30%;
  width: 20%;
}
.topnav {
  text-align: center;
  display: flex;
  align-items: center;
}
.ddli {
  text-decoration: none;
  justify-content: center;
}
/* .navcont {
  display: flex !important;
} */
