body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  align-items: center !important;
}

.logo {
  height: 30%;
  width: 20%;
}

.topnav {
  text-align: center;
  display: flex;
  align-items: center;
}

.ddli {
  text-decoration: none;
  justify-content: center;
}

.link {
  color: rgb(23, 23, 23);
  display: flex;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  text-decoration: none;
}

.link:hover {
  color: white !important;
  background-color: rgb(9, 53, 119);
  border-radius: 10px;
}

.drpdnlink {
  width: 100%;
  text-decoration: none;
}

.drpdnlink:hover {
  color: white;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(9, 53, 119);
  /* padding-left: 8px; */
  /* padding-bottom: 3px; */
  border-radius: 2px;
  text-align: center;
}

.divdropdownLink {
  /* border: 2px solid black; */
  width: 100%;
  margin-top: 20px;
  /* text-align: center; */
  padding-left: 3px;
  margin-bottom: 15px;
}

.divdropdownLink:hover {
  /* border: 2px solid black; */
  color: white !important;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(9, 53, 119);
  /* padding-left: 5px; */
  border-radius: 2px;
  /* text-align: center; */
}

.bnav {
  align-items: center;
}

.oropt {
  margin: none !important;
  color: rgb(23, 23, 23);
}

.gridLeft {
  /* border :1px solid black; */
  padding: 10px;
  /* margin:5px; */
}

.gridMain {
  /* border :1px solid red; */
  padding: 10px;
  /* margin:1px; */
}

.gridRight {
  /* border :1px solid yellow; */
  padding: 10px;
  /* margin:5  px; */
}

.downArrow {
  width: 10px;
  margin-top: 8px;
  height: 10px;

}

.horizontal-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list-item {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  /* Add some spacing between items */
}

.horizontal-list-item:last-child {
  margin-right: 0;
}

.sidenav {
  color: black;
  border: 1px solid red;
}

.sideNavDiv {
  width: 100%;

}

.sideNavDiv:hover {
  width: 100%;
  border: 1px solid saddlebrown;
  background-color: rgb(47, 105, 192);
  color: white;
}

.sidenavItem {
  text-decoration: none;
  color: black;
}

.sidenavItem:hover {
  color: white;
}

.footer-div {
  background-color: rgb(185, 185, 185);
}

.footer {
  text-align: center;
  padding: 20px;
}

/* .sidenavItem {
  border: 2px solid black;

} */

/* .sidenavItem:hover {
  color: white;
  background-color: aqua;
} */
.scroll-container {
  overflow: hidden;
  height: 200px;
  /* Adjust the height as needed */
}

.bullet-scroll-section {
  width: 100%;
  height: 200px;
  /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.bullet-list {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: scrollAnimation 15s linear infinite;
}

.bullet-list li {
  display: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px;
}

.bullet-list .active {
  display: block;
  color: #333;
  /* Customize the color */
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.ppMainContainer {
  align-items: center;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}

.item1 {
  display: inline-flex;
  margin-left: 200px;
  margin-right: 200px;
  /* border: 2px solid red; */
  align-items: center;

}

.item2 {
  height: 100%;
  margin-left: 200px;
  margin-right: 200px;
  /* border: 2px solid gray; */
  text-align: center;
}

.innerContainer {
  display: inline;
  align-items: center;
  text-align: center;
}

.headin {
  color: rgb(13, 13, 107);
}

.messageContainer {
  display: inline-block;
  text-align: center;
}

.msgLink {
  /* color: rgb(67, 180, 255); */
  font-size: 21px;
  margin-left: 450px;
  margin-right: 200px;
}

.msgLinkLeft {
  font-size: 21px;
  margin-left: 152px;
}

.BFaOC {
  margin-top: 33px;
  display: inline-block;
  align-items: center;
}

.head {
  font-style: bold;
  font-weight: bolder;
  color: rgb(10, 10, 104);
  font-size: 38px;
  text-align: center;
  margin-bottom: 33px;
}

.content {
  font-size: 21px;
  text-align: center;
}

.uCIL {
  display: flex;
  /* justify-content: center; */
  /* border: 2px solid firebrick */
}

.uc {
  /* border: 1px solid black; */
  align-items: center;
  margin-left: 10%;
}

.il {
  align-items: center;
  margin-left: 25%;
}

.heade {
  font-style: bold;
  font-weight: bolder;
  color: rgb(10, 10, 104);
  font-size: 38px;
  text-align: center;
  margin-left: 33px;
}

.impLinks {
  /* text-align: center; */
  font-size: 18px;
}

.lnk {
  color: black;
  text-decoration: none;
}

.vandMap {
  margin-left: 87px;
  display: flex;
}