body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  align-items: center !important;
}
.logo {
  height: 30%;
  width: 20%;
}
.topnav {
  text-align: center;
  display: flex;
  align-items: center;
}
.ddli {
  text-decoration: none;
  justify-content: center;
}
.link {
  color: rgb(23, 23, 23);
  display: flex;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  text-decoration: none;
}
.link:hover {
  background-color: rgb(20, 52, 129);
  border-radius: 10px;
  color: white !important;
}
.drpdnlink {
  color: rgb(23, 23, 23);
  text-decoration: none;
}
.drpdnlink:hover {
  background-color: rgb(4, 4, 107);
  border-radius: 2px;
  color: white !important;
}
.bnav {
  align-items: center;
}
.oropt{
  margin:none !important;
  color: rgb(23, 23, 23);
}
.gridLeft{
  /* border :1px solid black; */
  padding:10px;
  /* margin:5px; */
}
.gridMain{
  /* border :1px solid red; */
  padding:10px;
  /* margin:1px; */
}
.gridRight{
  /* border :1px solid yellow; */
  padding:10px;
  /* margin:5  px; */
}
.downArrow{
  width: 10px !important;
  margin-top: 8px;
  height: 10px !important;
  
}